:root {
  --dark: #2e4756;
  --medium: #3c7a89;
  --ligth-medium: #9fa2b2;
  --ligth: #dbc2cf;
}
html {
  background-image: url("https://cdn11.bigcommerce.com/s-nq6l4syi/images/stencil/1280x1280/products/12947/377035/43175-1024__60810.1641567725.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

body {
  font-family: "Alegreya Sans SC";
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  color: #fed36d;
}
